*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.connection-window{
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    
}

/* UTILITIES */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .flex-container > div {

    margin: 10px;
    padding: 20px;

  }

  .flex-column-container{
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    justify-content: flex-end;
  }

/* CONNECTION WINDOW */

#wsurladdress{
    height: 50px;
    font-size: larger;
    color: black;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px lightblue solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wsconnect{
    height: 50px;
    width: 90px;
    font-size: larger;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wsdisconnect{
    height: 50px;
    width: 120px;
    font-size: larger;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#command-input{
    height: 50px;
    font-size: larger;
    color: black;
    padding-right: 10px;
    margin-right: 14px;
    border-radius: 10px;
    border: 1px lightblue solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sendCommand{
    height: 50px;
    width: 90px;
    font-size: larger;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hidden{
    display: none;
}

.disabled{
    opacity: .3;
}

/* CONSOLE OUTPUT DISPLAY */

.console-header{
    color: whitesmoke;
}

#clear-btn{
    width: 70px;
    height: 50px;
    font-size: larger;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.console-window{
    white-space: pre-wrap;
    overflow: auto;
    scrollbar-width: 5px;
    color: #dddd11;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
    border: 2px solid white;
    max-height: 400px;
    min-height: 400px;
    }
    
    .custom-scroll::-webkit-scrollbar {
        width: 5px;
        height: 30px;
        opacity: 0;
    }
    
    .custom-scroll::-webkit-scrollbar-button:vertical {
        /* background-color: #dddd11; */
        opacity: 0;
    }

    .custom-scroll::-webkit-scrollbar-track:vertical {
        opacity: 0;
    }

    /* The thumb itself */
    .custom-scroll::-webkit-scrollbar-thumb:vertical {
    height: 40px;
    background-color: yellow;
    border-radius: 2px;
    border:1px black solid;
}

/* COMMAND WINDOW */
.command-window{
    /* background-color: tomato; */
    /* padding: 30px; */
    margin-left: 30px;
    border-radius: 30px;
}
.command-window > div > h3{
    color: white;
    
}

#last-command{
    color: #dddd11;
}